* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  color: #fff;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  overflow-x: hidden;
}
.container {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator {
  width: 25rem;
  display: inline-block;
  background-color: #383844;
  border-radius: 5px;
}
.display {
  margin: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  text-align: right;
  gap: 1rem;
}
.display .input {
  min-height: 40px;
  font-size: 35px;
}
.display .result {
  font-size: 20px;
  height: 20px;
}
.calculator-keys {
  display: inline-grid;
  grid-gap: 2px;
  grid-template-columns: repeat(4, 1fr);
  padding: 3px;
  width: 100%;
}
.clear {
  grid-row: 1/2;
  grid-column: 1/2;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
  font-size: 30px !important;
}

.percent {
  grid-row: 1/2;
  grid-column: 2/3;
}
.divide {
  grid-row: 1/2;
  grid-column: 3/4;
}
.multiply {
  grid-row: 1/2;
  grid-column: 4/5;
}
.add {
  grid-row: 2/3;
  grid-column: 4/5;
}
.subtract {
  grid-row: 3/4;
  grid-column: 4/5;
}
.equals {
  grid-row: 4/6;
  grid-column: 4/5;
}
.backspace {
  grid-row: 5/6;
  grid-column: 3/4;
}
button {
  position: relative;
  max-width: 95px;
  min-height: 77px;
  border-radius: 0;
  border: none;
  color: #fff;
  font-size: 20px;
}
.calculator-keys button.number {
  background-color: #181717;
}
.calculator-keys button.functions {
  background-color: #242121;
}
.calculator-keys button.equals {
  background-color: #2f5e6c;
}
#footer {
  width: 100%;
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}
#footer > a > i {
  font-size: 1.5rem;
  color: #332b2b;
}

#footer a i:active {
  transform: scale(1.2);
  color: #000;
}

.unload {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(24, 23, 23, 0.836);
}

@media (hover: hover) {
  button.number:hover,
  button.functions:hover,
  button.equals:hover {
    filter: brightness(200%);
  }
  #footer > a > i:hover {
    transform: scale(1.2);
    color: #000;
  }
}

@media screen and (min-width: 350px) and (max-width: 399px) {
  .calculator {
    width: 97vw;
  }
}
@media screen and (max-width: 349px) {
  .calculator {
    width: 97vw;
  }
  button {
    position: relative;
    min-height: 59px;
  }
}
@media screen and (max-height: 620px) {
  body {
    gap: 1rem;
    margin-top: 10px;
  }
}
